<ul class="menu">
    <li>
        <a href="{% url 'main' %}" {% if request.resolver_match.url_name == 'main' %}class="active"{% endif %}>
        домой
        </a>
    </li>
    <li>
        <a href="{% url 'mainapp:index' %}" {% if request.resolver_match.url_name == 'index' %}class="active"{% endif %}>
            продукты
        </a>
    </li>
    <li>
        <a href="{% url 'contact' %}" {% if request.resolver_match.url_name == 'contact' %}class="active"{% endif %}>
            контакты
        </a>
    </li>
    <li>
        {% if user.is_authenticated %}
            <li>
                <div class="dropdown">
                    <a class="dropdown-toggle" href="" data-toggle="dropdown">
                        {{ user.first_name|default:"пользователь" }}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{% url 'auth:edit' %}">
                                профиль
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'orderapp:orders_list' %}">
                                заказы
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            {% if user.is_superuser %}
               <li>
               <a href="{% url 'admin:users' %}">
                   админка
               </a>
                </li>
            {% endif %}
            <a href="{% url 'auth:logout' %}">
                выход
            </a>
            {% else %}
            <a href="{% url 'auth:login' %}">
                вход
            </a>
        {% endif %}

    </li>

</ul>
<a href="#" class="search"></a>
<a href="{% url 'basket:view' %}" class="basket">
    <span>{% if basket %} {{ basket.0.total_cost|floatformat:0 }}руб {{ basket.0.total_quantity }}шт.{% endif %}</span>
</a>